@charset "UTF-8";
/*******top*******/
@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}


/*******animation******/

html {
	&.wf-active {
		&.load_complete {
			#splash {
				opacity:0;
				transition:0.5s ease 0.7s;
				pointer-events:none;
				.logo_animation {
					opacity:0;
					transition:0.5s ease;
				}
			}


			#wrapper {
				#index {
					.index_hero {
						&::before {
							width:100%;
							transition:width 0.6s cubic-bezier(0.84,0.39,0.33,1) 1.4s;
						}
						.index_hero__img {
							width:100%;
							transition:width 0.6s cubic-bezier(0.84,0.39,0.33,1) 1.6s;
							&::before {
								left:100%;
								transition:left 0.6s cubic-bezier(0.84,0.39,0.33,1) 2.4s;
							}

							.index_hero__copy {
								span {
									opacity:1;
									transition:1s ease 2.9s;
									transform:translate(0, 0);
								}
							}
						}
						.index_hero__scroll {
							bottom:24px;
							opacity:1;
							transition:0.6s ease 2.4s;
							.arrow-down::before {
								animation:elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite 3.2s;
							}
							.arrow_animation {
								display:block;
								margin:0 auto;
								width:44px;
								line-height:0;
								@media print, screen and (max-width: 767px) {
									width:28px;
								}
							}
						}
					}
				}
			}
		}
		&.visited {
			#wrapper {
				#index {
					.index_hero {
						&::before {
							width:100%;
							transition:width 0.6s cubic-bezier(0.84,0.39,0.33,1) 1.0s;
						}
						.index_hero__img {
							width:100%;
							transition:width 0.6s cubic-bezier(0.84,0.39,0.33,1) 1.2s;
							&::before {
								left:100%;
								transition:left 0.6s cubic-bezier(0.84,0.39,0.33,1) 2.0s;
							}

							.index_hero__copy {
								span {
									opacity:1;
									transition:1s ease 2.5s;
									transform:translate(0, 0);
								}
							}
						}
						.index_hero__scroll {
							bottom:24px;
							opacity:1;
							transition:0.6s ease 2.0s;
							.arrow-down::before {
								animation:elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite 2.8s;
							}
							.arrow_animation {
								display:block;
								margin:0 auto;
								width:44px;
								line-height:0;
								@media print, screen and (max-width: 767px) {
									width:28px;
								}
							}
						}
					}
				}
			}
		}
	}
}
#splash {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:999;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#798261;
	pointer-events:all;
	&.visited {
		display:none;
	}
	.logo_animation {
		margin:0;
		padding:0;
		width:176px;
		line-height:0;
	}
}

#index {
	margin:0;
	padding:0;

	backface-visibility:hidden;
	.index_more {
		position:relative;
		display:flex;
		align-items:center;
		justify-content:space-between;
		padding:0;
		width:163px;
		color:#7a805f;
		letter-spacing:0.5px;
		font-weight:500;
		font-size:17px;
		font-family:"Barlow", sans-serif;
		line-height:1;

		.more_animation {
			display:inline-block;
			width:77px;
		}
		.info_more_animation {
			display:inline-block;
			width:77px;
		}

		/*&::before {
			position:absolute;
			top:50%;
			right:0;
			margin-top:-1px;
			width:80px;
			height:2px;
			background:#798160;
			content:" ";
			animation:elasticus-l 2.4s cubic-bezier(1, 0, 0, 1) infinite;
			@media print, screen and (max-width: 767px) {
				width:48px;
			}
		}

		&:after {
			position:absolute;
			top:50%;
			right:2px;
			display:block;
			margin-top:-9px;
			padding:0;
			width:16px;
			height:16px;
			border-top:2px solid #798160;
			border-right:2px solid #798160;
			content:"";
			transform:rotate(45deg);
			@media print, screen and (max-width: 767px) {
				margin-top:-7px;
				width:12px;
				height:12px;
			}
		}*/
	}

	.index_hero {
		position:relative;
		padding:130px 180px 0 0;

		@media print, screen and (max-width: 959px) {
			padding:130px 130px 0 0;
		}
		@media print, screen and (max-width: 767px) {
			padding:60px 60px 0 0;
		}
		&::before {
			position:absolute;
			top:0;
			right:0;
			bottom:120px;
			left:0;
			width:0;
			background-color:#798160;
			content:"";

			@media print, screen and (max-width: 767px) {
				bottom:90px;
			}
		}
		&::after {
			position:absolute;
			right:0;
			bottom:0;
			left:0;
			height:120px;
			background-color:#ffffff;
			content:"";
			@media print, screen and (max-width: 767px) {
				height:90px;
			}
		}
		.index_hero__img {
			position:relative;
			z-index:5;
			margin:0;
			padding:0;
			width:0;
			/*height:calc(100vh - 130px);
			height:calc(var(--vh, 1vh) * 100 - 130px);*/

			&::before {
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				z-index:3;
				background-color:#545252;
				content:"";
			}
			.index_hero__bg {
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				z-index:2;
				overflow:hidden;
				&::before {
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					left:0;
					display:inline-block;
					background-image:url(../img/top/hero_img_001.webp);
					background-position:50% 50%;
					background-size:cover;
					background-repeat:no-repeat;
					content:"";
					transform:scale(1.0);

					backface-visibility:visible;
				}
			}
			@media print, screen and (max-width: 767px) {
				/*height:calc(100vh - 60px);
				height:calc(var(--vh, 1vh) * 100 - 60px);*/
			}
			.index_hero__copy {
				position:absolute;
				top:12%;
				right:-92px;
				z-index:8;
				overflow:hidden;
				margin:0;
				padding:0;
				line-height:0;
				span {
					position:relative;
					display:block;
					opacity:0;
					transition:opacity 480ms ease, transform 480ms ease;
					transform:translate(0, 100%);
				}
				@media print, screen and (max-width: 1180px) {
					top:14%;
					img {
						width:315px;
						height:auto;
					}
				}
				@media print, screen and (max-width: 767px) {
					right:-33px;
					img {
						width:225px;
						height:auto;
					}
				}
			}
		}

		.index_hero__scroll {
			position:absolute;
			right:0;
			bottom:34px;
			z-index:5;
			width:180px;
			opacity:0;

			@media print, screen and (max-width: 959px) {
				width:130px;
			}
			@media print, screen and (max-width: 767px) {
				width:60px;
			}
			.arrow-down {
				position:relative;
				display:block;
				margin:0 auto;
				width:31px;
				height:99px;
				@media print, screen and (max-width: 959px) {
					width:23px;
				}
				@media print, screen and (max-width: 959px) {
					width:15px;
				}
				&::before {
					position:absolute;
					top:0;
					left:50%;
					margin-left:-1px;
					width:2px;
					height:102px;
					background:#555252;
					content:" ";
					transform:scale(1, 0);
					transform-origin:0 0;
				}

				&:after {
					position:absolute;
					bottom:0;
					left:0;
					display:block;
					margin:0;
					padding:0;
					width:28px;
					height:28px;
					border-top:2px solid #555252;
					border-right:2px solid #555252;
					content:"";
					transform:rotate(135deg);
					@media print, screen and (max-width: 959px) {
						width:20px;
						height:20px;
					}
					@media print, screen and (max-width: 959px) {
						width:12px;
						height:12px;
					}
				}
			}
			.scroll-title {
				display:block;
				padding:17px 0 0;
				color:#555252;
				text-align:center;
				letter-spacing:0.5px;
				font-weight:700;
				font-size:14px;
				font-family:"Barlow", sans-serif;
				@media print, screen and (max-width: 767px) {
					padding:10px 0 0;
					font-size:10px;
				}
			}
		}
	}
	.index_concept {
		margin:0 auto;
		padding:108px 50px;
		max-width:756px;
		&.js-active {
			.index_concept__flex {
				.index_concept__description {
					opacity:1;
					transition:0.5s ease 0.8s;
					transform:translate(0,0);
				}
			}
		}

		@media print, screen and (max-width: 767px) {
			padding:100px 30px;
		}
		.index_concept__flex {
			display:flex;
			align-items:center;
			justify-content:space-between;

			@media print, screen and (max-width: 767px) {
				display:block;
			}
			.index_concept__logo {
				display:flex;
				overflow:hidden;
				align-items:center;
				justify-content:center;
				margin:0;
				padding:0 58px 0 0;
				width:212px;
				line-height:0;
				@media print, screen and (max-width: 959px) {
					padding:0 48px 0 0;
					width:200px;
				}
				@media print, screen and (max-width: 767px) {
					margin:0 auto 53px;
					padding:0;
					width:150px;
				}
				.concept_animation {
					width:100%;
					height:auto;
				}
			}
			.index_concept__description {
				margin:0;
				padding:0;
				width:calc(100% - 270px);
				opacity:0;
				transform:translate(20px,0);



				@media print, screen and (max-width: 959px) {
					width:calc(100% - 248px);
				}
				@media print, screen and (max-width: 767px) {
					width:auto;
				}
				p {
					margin:0;
					padding:0;
					text-align:justify;
					letter-spacing:0.1em;
					font-weight:600;
					font-size:16px;
					line-height:2.0em;
					@media print, screen and (max-width: 1180px) {
						font-size:15px;
					}
					@media print, screen and (max-width: 767px) {
						letter-spacing:1px;
						br {
							display:none;
						}
					}
					&.read {
						margin:0 0 30px;
						padding:0;
						color:#555252;
						text-align:left;
						letter-spacing:3px;
						font-weight:700;
						font-size:42px;
						font-family:"Barlow", sans-serif;
						line-height:1;
						@media print, screen and (max-width: 1180px) {
							font-size:36px;
						}
						@media print, screen and (max-width: 959px) {
							margin:0 0 20px;
						}
						@media print, screen and (max-width: 767px) {
							text-align:center;
							font-size:30px;
						}
					}
				}
			}
		}
	}
	.index_feature {
		margin:0;
		padding:0;
		.sticky {
			height:150vh ;
			@media print, screen and (max-width: 959px) {
				height:70vh ;
				height:calc(var(--vh, 1vh) * 70 );
			}
			@media print, screen and (max-width: 767px) {
				height:100vh ;
				height:calc(var(--vh, 1vh) * 100 );
			}
		}
		.index_feature__block {
			position:relative;
			top:0;
			overflow:hidden;
			height:150vh ;
			height:calc(var(--vh, 1vh) * 100 );


			@media print, screen and (max-width: 959px) {
				height:70vh ;
				height:calc(var(--vh, 1vh) * 70 );
			}
			@media print, screen and (max-width: 767px) {
				position:relative!important;
				height:100vh ;
				height:calc(var(--vh, 1vh) * 100 );
			}
			.bg {
				position:absolute;
				right:0;
				left:0;
				background-position:50% 50%;
				background-size:cover;
				background-repeat:no-repeat;
				&::before {
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					left:0;
					z-index:2;
					background-color:rgba(0,0,0,0.3);
					content:"";
					opacity:0;
				}
			}
			&.photo01 {
				z-index:2;
				.bg {
					top:0;
					bottom:-10vh;
					background-image:url(../img/top/concept_img_001.webp);
					@media print, screen and (max-width: 959px) {
						top:0;
						bottom:0;
					}
					@media print, screen and (max-width: 767px) {
						background-image:url(../img/top/concept_img_sp_001.webp);
					}
				}
			}
			&.photo02 {
				z-index:3;

				.bg {
					top:11vh;
					bottom:-20vh;
					background-image:url(../img/top/concept_img_002.webp);
					@media print, screen and (max-width: 959px) {
						top:0;
						bottom:0;
					}
					@media print, screen and (max-width: 767px) {
						background-image:url(../img/top/concept_img_sp_002.webp);
					}
				}
			}
			&.photo03 {
				z-index:4;

				.bg {
					top:20vh;
					bottom:-28vh;
					background-image:url(../img/top/concept_img_003.webp);
					@media print, screen and (max-width: 959px) {
						top:0;
						bottom:0;
					}
					@media print, screen and (max-width: 767px) {
						background-image:url(../img/top/concept_img_sp_003.webp);
					}
				}
			}
			&.photo04 {
				z-index:5;

				.bg {
					top:29vh;
					bottom:-33vh;
					background-image:url(../img/top/concept_img_004.webp);
					@media print, screen and (max-width: 959px) {
						top:0;
						bottom:0;
					}
					@media print, screen and (max-width: 767px) {
						background-image:url(../img/top/concept_img_sp_004.webp);
						background-position:100% 50%;
					}
				}
				.horiguchi_coffee {
					position:absolute;
					top:55px;
					left:75px;
					z-index:10;
					width:196px;
					line-height:0;
					@media print, screen and (max-width: 1279px) {
						left:50px;
						width:160px;
					}
					@media print, screen and (max-width: 959px) {
						top:40px;
						left:34px;
						width:130px;
					}
					@media print, screen and (max-width: 767px) {
						top:40px;
						left:23px;
						width:120px;
					}
					img {
						width:100%;
						height:auto;
					}
				}
			}

			.index_feature__text {
				position:absolute;
				z-index:5;
				color:#ffffff;

				&.js-active {
					&.type01 {
						opacity:1;
						transform:translate(0,0);
						& + .bg {
							&::before {
								opacity:1;
								transition:1s ease 0.2s;
							}
						}
					}
					&.type02 {
						opacity:1;
						transform:translate(0,0);
						& + .bg {
							&::before {
								opacity:1;
								transition:1s ease 0.2s;
							}
						}
					}
				}


				&.type01 {
					bottom:96px;
					left:120px;
					opacity:0;
					transition:1s ease 0.7s;
					transform:translate(0,60px);
					@media print, screen and (max-width: 1180px) {
						bottom:80px;
						left:80px;
					}
					@media print, screen and (max-width: 959px) {
						bottom:50px;
						left:50px;
					}
					@media print, screen and (max-width: 767px) {
						right:30px;
						bottom:30px;
						left:30px;
						transform:translate(0,0px);
					}
				}
				&.type02 {
					right:120px;
					bottom:96px;
					opacity:0;
					transition:1s ease 0.7s;
					transform:translate(0,60px);
					@media print, screen and (max-width: 1180px) {
						right:80px;
						bottom:80px;
					}
					@media print, screen and (max-width: 959px) {
						right:50px;
						bottom:50px;
					}
					@media print, screen and (max-width: 767px) {
						right:30px;
						bottom:30px;
						left:30px;
						transform:translate(0,0px);
					}
				}
				.index_feature__h3 {
					margin:0 0 25px;
					padding:0;
					text-align:left;
					letter-spacing:3px;
					font-weight:700;
					font-size:30px;
					font-family:"Barlow", sans-serif;
					line-height:1;

					@media print, screen and (max-width: 767px) {
						font-size:28px;
					}
					@media print, screen and (max-width: 374px) {
						letter-spacing:1px;
						font-size:26px;
					}
				}
				p {
					margin:0;
					padding:0;
					max-width:344px;
					text-align:justify;
					letter-spacing:0.1em;
					font-weight:500;
					font-size:15px;
					line-height:1.8em;

					@media print, screen and (max-width: 1180px) {
						font-size:14px;
					}
					@media print, screen and (max-width: 767px) {
						max-width:initial;
						width:auto;
					}
					&.read {
						margin:0 0 22px;
						max-width:initial;
						text-decoration:underline;
						font-weight:600;
						font-size:18px;

						@media print, screen and (max-width: 960px) {
							font-size:16px;
						}
						@media print, screen and (max-width: 767px) {
							font-size:15px;
						}
					}
				}
			}
		}
	}
	.index_facility {
		position:relative;
		z-index:10;
		margin:0;
		padding:80px 50px;
		background-color:#f5f3f0;
		@media print, screen and (max-width: 767px) {
			padding:80px 30px;
		}
		.title_h2 {
			margin:0 0 80px;
			@media print, screen and (max-width: 767px) {
				margin:0 0 60px;
			}
		}
		.index_facility__wrap {
			margin:0 auto;
			padding:0;
			max-width:768px;
			opacity:0;
			transform:translate(0,20px);
			.index_facility__list {
				display:flex;
				align-items:stretch;
				flex-wrap:wrap;
				justify-content:flex-start;
				margin:0 0 0 -45px;
				padding:0;
				@media print, screen and (max-width: 767px) {
					display:block;
					margin:0 ;
				}
				li {
					box-sizing:border-box;
					padding:0 0 50px 45px;
					width:33.3333%;
					@media print, screen and (max-width: 959px) {
						width:50%;
					}
					@media print, screen and (max-width: 767px) {
						padding:0 0 50px;
						width:auto;
					}
					.index_facility__detail {
						margin:0;
						padding:0;
						.index_facility__h3 {
							margin:0 0 13px;
							padding:0 0 13px;
							border-bottom:#798160 solid 1px;
							color:#7a805f;
							text-align:center;
							letter-spacing:1px;
							font-weight:700;
							font-size:20px;
							font-family:"Barlow", sans-serif;
							line-height:1;
							@media print, screen and (max-width: 767px) {
								margin:0 0 10px;
								padding:0 0 10px;
								text-align:left;
							}
						}
						p {
							margin:0;
							padding:0;
							text-align:justify;
							letter-spacing:0.1em;
							font-weight:500;
							font-size:12px;
							line-height:1.8em;

							&.index_facility__title {
								margin:0 0 13px;
								color:#7a805f;
								text-align:center;
								font-weight:600;
								font-size:16px;
								@media print, screen and (max-width: 767px) {
									text-align:left;
									font-size:14px;
								}
							}
							&.index_facility__note {
								margin:10px 0 0;
								font-weight:500;
								font-size:11px;
							}
						}
					}
				}
			}
			.index_facility__icons {
				display:flex;
				align-items:flex-start;
				justify-content:space-between;
				margin:0 40px;

				@media print, screen and (max-width: 959px) {
					margin:0 ;
				}
				@media print, screen and (max-width: 767px) {
					align-items:stretch;
					flex-wrap:wrap;
					justify-content:center;
				}
				li {
					margin:0;
					padding:0;
					@media print, screen and (max-width: 767px) {
						padding:0 0 15px;
						width:33.3333%;
					}
					.index_facility__icon {
						margin:0 0 10px;
						padding:0;
						text-align:center;
						line-height:0;
						@media print, screen and (max-width: 767px) {
							img {
								width:auto;
								height:46px;
							}
						}
					}
					.index_facility__caption {
						color:#7b8063;
						text-align:center;
						font-weight:500;
						font-size:11px;
						@media print, screen and (max-width: 767px) {
							font-size:10px;
						}
					}
				}
			}
		}
		&.js-active {
			.index_facility__wrap {
				opacity:1;
				transition:1s ease ;
				transform:translate(0,0);
			}
		}
	}
	.index_keywords {
		position:relative;
		z-index:5;
		margin:-20px 0 0;
		padding:120px 0 0;
		background-color:#ffffff;
		@media print, screen and (max-width: 767px) {
			padding:80px 0 0;
		}

		.swiper-wrapper {
			transition-timing-function:linear;
		}
		.index_keywords__line {
			overflow:hidden;
			margin:0 0 10px;
			padding:0;
			line-height:0;

			.swiper-wrapper {
				.swiper-slide {
					img {
						width:100%;
						height:auto;
					}
				}
			}
		}
		.index_casestudy {
			margin:40px auto 0;
			padding:0;
			max-width:750px;
			color:#7a805f;
			@media print, screen and (max-width: 959px) {
				padding:0 50px;
			}
			@media print, screen and (max-width: 767px) {
				padding:0 30px;
			}
			.index_casestudy__h3 {
				position:relative;
				margin:0 0 15px;
				padding:0;
				text-align:center;
				font-size:14px;
				&::before {
					position:absolute;
					top:50%;
					right:0;
					left:0;
					z-index:1;
					height:1px;
					background-color:#798160;
					content:"";
				}
				span {
					position:relative;
					z-index:2;
					display:inline-block;
					padding:0 20px;
					background-color:#ffffff;
				}
			}
			.index_casestudy__list {
				display:flex;
				align-items:center;
				flex-wrap:wrap;
				justify-content:center;
				margin:0;
				padding:0 90px 20px;
				border-bottom:#798160 solid 1px;
				@media print, screen and (max-width: 959px) {
					padding:0 50px 20px;
				}
				@media print, screen and (max-width: 767px) {
					padding:0 0 20px;
				}
				li {
					margin:0;
					padding:0 10px;
					letter-spacing:0.1em;
					font-weight:500;
					font-size:16px;
					line-height:2.2em;
					@media print, screen and (max-width: 959px) {
						font-size:15px;
					}
					@media print, screen and (max-width: 767px) {
						font-size:14px;
					}
				}
			}
		}
	}
	.index_location {
		margin:0;
		padding:100px 50px 0;
		opacity:0;
		transform:translate(0,40px);
		@media print, screen and (max-width: 767px) {
			padding:80px 30px 0;
		}
		.index_location__photo {
			margin:0 0 56px;
			padding:0;
			@media print, screen and (max-width: 767px) {
				margin:0 0 30px;
			}

			ul {
				display:flex;
				align-items:flex-start;
				justify-content:flex-start;
				margin:0 0 0 -30px;
				padding:0;
				&.swiper-wrapper {
					transition-timing-function:linear;
				}
				@media print, screen and (max-width: 767px) {
					margin:0 0 0 -10px;
				}
				li {
					box-sizing:border-box;
					padding:0 0 0 30px;
					width:25%;
					line-height:0;
					@media print, screen and (max-width: 767px) {
						padding:0 0 10px 10px;
					}
					img {
						width:100%;
						height:auto;
					}
				}
			}
		}
		.index_location__read {
			margin:0 auto;
			padding:0;
			max-width:750px;
			text-align:center;
			letter-spacing:0.1em;
			font-weight:500;
			font-size:14px;
			line-height:2.0em;
			@media print, screen and (max-width: 767px) {
				text-align:justify;
				br {
					display:none;
				}
			}
		}
		&.js-active {
			opacity:1;
			transition:1s ease ;
			transform:translate(0,0);
		}
	}
	.index_access {
		margin:0;
		padding:90px 50px;
		opacity:0;
		transform:translate(0,20px);
		&.js-active {
			opacity:1;
			transition:1s ease ;
			transform:translate(0,0);
			.index_access__map {
				img {
					&.img_map {
						opacity:1;
						transition:1s ease 1s;
					}
				}
				.index_access__seal {
					opacity:1;
					transition:1s ease 1s;
					transform:translate(0px,0px);
				}
			}
		}
		@media print, screen and (max-width: 767px) {
			padding:80px 30px;
		}
		.index_access__map {
			position:relative;
			margin:0 auto 30px;
			max-width:750px;
			background-color:#f5f3f0;
			line-height:0;
			img {
				width:100%;
				height:auto;
				&.img_map {
					opacity:0;
				}
			}
			.index_access__seal {
				position:absolute;
				right:-103px;
				bottom:-99px;
				z-index:2;
				box-sizing:border-box;
				padding:15px;
				width:208px;
				height:208px;
				border:#798160 solid 2px;
				background-color:#ffffff;
				line-height:0;
				opacity:0;
				transform:translate(10px,10px);
				@media print, screen and (max-width: 1180px) {
					right:-55px;
					width:180px;
					height:180px;
				}
				@media print, screen and (max-width: 959px) {
					right:-25px;
				}
				@media print, screen and (max-width: 767px) {
					display:none;
				}
			}
		}
		.index_access_info {
			margin:0 auto;
			max-width:750px;
			p {
				margin:0 0 10px;
				padding:0;
				letter-spacing:0.1em;
				font-weight:700;
				font-size:14px;
				line-height:1.8em;
			}
			a {
				display:flex;
				align-items:center;
				justify-content:center;
				margin:20px 0 0;
				width:172px;
				height:44px;
				background-color:#545252;
				color:#ffffff;
				text-align:center;
				letter-spacing:0.1em;
				font-weight:500;
				font-size:16px;
				font-family:"Inter", sans-serif;
				line-height:1;
			}
		}
	}


	.index_floor {
		padding:100px 50px 0;

		@media print, screen and (max-width: 767px) {
			padding:58px 30px 0;
		}

		.index_floor__read {
			margin:0 auto 70px;
			max-width:750px;
			text-align:center;
			letter-spacing:0.1em;
			font-weight:500;
			font-size:14px;
			line-height:2.0em;
			@media print, screen and (max-width: 959px) {
				text-align:justify;
				br {
					display:none;
				}
			}
			@media print, screen and (max-width: 767px) {
				margin:0 0 46px;
			}
		}
		.index_floor__wrap {
			margin:0 auto;
			padding:0;
			max-width:850px;
			.index_floor__h3 {
				margin:0 0 46px;
				padding:0;
				color:#7b8063;
				text-align:center;
				letter-spacing:1px;
				font-weight:700;
				font-size:30px;
				font-family:"Barlow", sans-serif;
				line-height:1;
				span {
					position:relative;
					display:inline-block;
					&::after {
						position:absolute;
						right:0;
						bottom:-1px;
						left:0;
						z-index:1;
						height:2px;
						background-color:#7b8063;
						content:"";
					}
				}
			}
			.index_floor__floor01 {
				display:flex;
				align-items:flex-start;
				justify-content:space-between;
				margin:0 0 80px;
				padding:0;
				@media print, screen and (max-width: 767px) {
					display:block;
				}
				.index_floor01_image {
					margin:0;
					padding:0;
					line-height:0;
					opacity:0;
					transition:0.7s ease;
					transform:translate(-60px,0);

					@media print, screen and (max-width: 892px) {
						width:61.5%;
						img {
							width:100%;
							height:auto;
						}
					}
					@media print, screen and (max-width: 767px) {
						display:none;
					}
				}
				.index_floor01_description {
					margin:0;
					padding:0;
					line-height:0;
					opacity:0;
					transition:0.7s ease;
					transform:translate(60px,0);
					@media print, screen and (max-width: 892px) {
						width:32.6%;
						img {
							width:100%;
							height:auto;
						}
					}
					@media print, screen and (max-width: 767px) {
						display:none;
					}
				}
				.index_floor__floor01___sp {
					display:none;

					@media print, screen and (max-width: 767px) {
						display:block;
						opacity:0;
						transition:0.7s ease;
						transform:translate(0,40px);
						ul {
							margin:0;
							padding:0;
							border-top:#7b8063 solid 2px;
							border-right:#7b8063 solid 2px;
							border-left:#7b8063 solid 2px;
							li {
								position:relative;
								display:block;
								justify-content:space-between;
								padding:15px 15px 15px 64px;
								border-bottom:#7b8063 solid 2px;
								color:#7b8063;
								text-align:left;
								letter-spacing:1px;
								font-weight:700;
								font-size:15px;
								font-family:"Barlow", sans-serif;
								line-height:1.4em;
								.floor_number {
									position:absolute;
									top:0;
									bottom:0;
									left:0;
									display:flex;
									align-items:flex-start;
									justify-content:flex-start;
									padding:15px 20px;
								}
								.floor_name {
									margin:0;
									padding:0;
								}
								.floor_icons {
									display:flex;
									align-items:center;
									justify-content:flex-start;
									margin:8px 0 0;
									i {
										display:flex;
										align-items:center;
										justify-content:center;
										margin:0 12px 0 0;
										padding:0;
										width:16px;
										height:16px;
										line-height:0;

										img {
											width:100%;
											height:auto;
										}
									}
								}
							}
						}
					}
				}
				&.js-active {
					.index_floor01_image {
						opacity:1;
						transform:translate(0,0);
					}
					.index_floor01_description {
						opacity:1;
						transform:translate(0,0);
					}
					.index_floor__floor01___sp {
						opacity:1;
						transform:translate(0,0);
					}
				}
			}
			.index_floor__floor02 {
				margin:0 0 80px;
				padding:0;
				.index_floor02_image {
					margin:0 0 7px;
					padding:0;
					line-height:0;
					opacity:0;
					img {
						width:100%;
						height:auto;
					}
					&.js-active {
						opacity:1;
						transition:1s cubic-bezier(0.84, 0.39, 0.33, 1);
					}
				}
				.index_floor02_rooms {
					margin:0 auto;
					max-width:740px;
				}
			}
			.index_floor__floor03 {
				margin:0;
				padding:0;
				.index_floor03_image {
					margin:0 0 90px;
					padding:0;
					line-height:0;
					opacity:0;
					img {
						width:100%;
						height:auto;
					}
					&.js-active {
						opacity:1;
						transition:1s cubic-bezier(0.84, 0.39, 0.33, 1);
					}
				}
				.index_floor02_rooms {
					margin:0 auto;
					max-width:740px;
				}
			}

			.index_rooms_detail {
				display:flex;
				align-items:center;
				justify-content:space-between;
				margin:0 0 80px;
				padding:0;
				@media print, screen and (max-width: 767px) {
					display:block;
				}

				.index_rooms_name__sp {
					display:none;
					@media print, screen and (max-width: 767px) {
						display:block;
						margin:0 0 32px;
						padding:0;
						color:#7b8063;
						text-align:left;
						text-align:center;
						letter-spacing:1px;
						font-weight:700;
						font-size:22px;
						font-family:"Barlow", sans-serif;
						line-height:1;
					}
				}

				.index_rooms_image {
					padding:0;
					width:42%;
					text-align:center;
					line-height:0;
					opacity:0;

					@media print, screen and (max-width: 767px) {
						margin:0 0 30px;
						width:auto;
						text-align:center;

						img {
							max-width:60%;
							max-height:296px;
							width:auto;
							height:auto;
						}
					}
				}

				.index_rooms_description {
					margin:0;
					padding:0;
					width:49%;
					;
					@media print, screen and (max-width: 767px) {
						width:auto;
					}
					p {
						margin:0;
						padding:0;
						text-align:justify;
						letter-spacing:0.1em;
						font-weight:500;
						font-size:14px;
						line-height:2.0em;
					}
					.index_rooms_name {
						margin:0 0 26px;
						padding:0;
						color:#7b8063;
						text-align:left;
						letter-spacing:1px;
						font-weight:700;
						font-size:22px;
						font-family:"Barlow", sans-serif;
						line-height:1;
						@media print, screen and (max-width: 767px) {
							display:none;
						}
					}
					.index_rooms_type {
						margin:0 0 6px;
						padding:0;
						text-align:left;
						letter-spacing:0.1em;
						font-weight:600;
						font-size:16px;
						@media print, screen and (max-width: 767px) {
							text-align:center;
						}
					}
					.index_rooms_photo {
						position:relative;
						overflow:hidden;
						margin:20px 0 0;
						padding:0;
						border:#efefef solid 1px;
						line-height:0;

						&::before {
							position:absolute;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:4;
							background-color:#ffffff;
							content:"";
							transition:0.5s cubic-bezier(0.84, 0.39, 0.33, 1) 0.2s;

							backface-visibility:hidden;
						}
						&::after {
							position:absolute;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:3;
							background-color:#798160;
							content:"";
							transition:0.5s cubic-bezier(0.84, 0.39, 0.33, 1) 0.7s;

							backface-visibility:hidden;
						}
						img {
							position:relative;
							z-index:1;
							width:100%;
							height:auto;
							opacity:0;
						}
						ul {
							display:flex;
							align-items:stretch;
							justify-content:center;
							margin:0 0 0 -10px;
							padding:0;
							li {
								box-sizing:border-box;
								padding:0 0 0 10px;
								width:50%;
								line-height:0;
							}
						}
					}
				}
				&:first-of-type {
					.index_rooms_image {
						@media print, screen and (max-width: 767px) {
							img {
								max-width:40%;
								max-height:296px;
								width:auto;
								height:auto;
							}
						}
					}
				}
				&.js-active {
					.index_rooms_image {
						opacity:1;
						transition:1s ease 0.2s;
					}
					.index_rooms_description {
						.index_rooms_photo {
							position:relative;
							margin:20px 0 0;
							padding:0;
							border:#efefef solid 1px;
							line-height:0;

							img {
								opacity:1;
							}

							&::before {
								right:-100%;
								left:100%;
							}
							&::after {
								right:-100%;
								left:100%;
							}
						}
					}
				}
			}
		}
		.campaigne_banner {
			position:relative;
			margin:0 -50px;
			padding:0;
			background:url(../img/top/concept_img_002.jpg);
			background-position:50% 50%;
			background-size:cover;
			background-repeat:no-repeat;
			opacity:0;
			transform:translate(0, 30px);
			&.js-active {
				opacity:1;
				transition:1s ease;
				transform:translate(0, 0);
			}
			&::before {
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				z-index:1;
				background-color:rgba(88, 97, 57, 0.7);
				content:"";
			}
			a {
				position:relative;
				z-index:2;
				display:block;
				padding:50px;
				.banner_info {
					text-align:center;
					p {
						padding:0;
						color:#ffffff;
						&.banner_title {
							margin:0 0 1px;
							letter-spacing:5px;
							font-weight:700;
							font-size:80px;
							font-family:"Barlow", sans-serif;
							line-height:1;
							@media print, screen and (max-width: 1280px) {
								font-size:60px;
							}
							@media print, screen and (max-width: 1180px) {
								font-size:50px;
							}
							@media print, screen and (max-width: 959px) {
								font-size:40px;
							}
							@media print, screen and (max-width: 767px) {
								margin:0 0 10px;
								font-size:30px;
							}
						}
						&.banner_detail {
							margin:0 0 10px;
							letter-spacing:0.1em;
							font-weight:700;
							font-size:24px;
							@media print, screen and (max-width: 1280px) {
								font-size:22px;
							}
							@media print, screen and (max-width: 959px) {
								font-size:18px;
							}
							@media print, screen and (max-width: 767px) {
								font-size:15px;
							}
						}
						&.banner_period {
							position:relative;
							display:flex;
							align-items:center;
							justify-content:space-between;
							margin:0 auto;
							max-width:516px;
							letter-spacing:1px;
							font-weight:500;
							font-size:30px;
							font-family:"Barlow", sans-serif;
							line-height:1;
							@media print, screen and (max-width: 1280px) {
								font-size:26px;
							}
							@media print, screen and (max-width: 959px) {
								max-width:358px;
								font-size:20px;
							}
							@media print, screen and (max-width: 767px) {
								font-size:18px;
							}
							&::before {
								position:absolute;
								top:50%;
								right:170px;
								left:170px;
								margin-top:-1px;
								height:2px;
								background-color:#ffffff;
								content:"";
								@media print, screen and (max-width: 959px) {
									right:120px;
									left:120px;
								}
								@media print, screen and (max-width: 767px) {
									right:110px;
									left:110px;
								}
							}
						}
					}
				}
			}
		}


		.index_floorlist {
			margin:0 -50px;
			padding:114px 50px;
			background-color:#ffffff;
			@media print, screen and (max-width: 767px) {
				margin:0 -30px;
				padding:40px 30px;
			}
			.index_floorlist__wrap {
				box-sizing:border-box;
				margin:0 auto;
				padding:0;
				max-width:1030px;


				@media print, screen and (max-width: 767px) {
					border-top:none;
					border-left:none;
				}
				.index_floorlist_accordion {
					display:flex;
					align-items:stretch;
					justify-content:flex-start;
					width:90%;
					@media print, screen and (max-width: 767px) {
						display:none;
						width:auto;
					}
				}

				.index_floorlist__header {
					display:flex;
					align-items:stretch;
					justify-content:flex-start;
					border-top:#545252 solid 2px;
					border-bottom:#545252 solid 2px;
					background-color:#969982;
					font-weight:600;
					font-size:16px;
					opacity:0;
					@media print, screen and (max-width: 1023px) {
						font-size:12px;
					}
					@media print, screen and (max-width: 767px) {
						display:none;
					}
					.cell {
						padding:3px 10px!important;
						border-right:#545252 solid 2px;
						text-align:center;
						@media print, screen and (max-width: 1023px) {
							padding:3px 5px!important;
						}
					}
				}

				.index_floorlist__line {
					display:flex;
					align-items:stretch;
					justify-content:flex-start;
					border-bottom:#545252 solid 2px;
					font-weight:600;
					font-size:14px;
					line-height:1.6em;
					opacity:0;
					@media print, screen and (max-width: 1023px) {
						font-size:13px;
					}
					@media print, screen and (max-width: 767px) {
						display:block;
						margin:0 0 10px;
						border-top:#545252 solid 2px;
						border-right:#545252 solid 2px;
						border-bottom:none;
						border-left:#545252 solid 2px;
					}
					.cell {
						display:flex;
						align-items:center;
						flex-wrap:wrap;
						justify-content:center;
						padding:15px 10px;
						border-right:#545252 solid 2px;
						text-align:center;
						.sp {
							display:none;
						}
						@media print, screen and (max-width: 1023px) {
							padding:10px 5px!important;
						}
						@media print, screen and (max-width: 767px) {
							position:relative;
							justify-content:flex-end;
							box-sizing:border-box;
							padding:10px 15px 10px 105px!important;
							min-height:62px;
							width:auto;
							border-right:none;
							border-bottom:#545252 solid 1px;
							text-align:right;
							&::before {
								position:absolute;
								top:0;
								bottom:0;
								left:0;
								display:flex;
								align-items:center;
								justify-content:flex-start;
								padding:0 0 0 15px;
								width:95px;
								text-align:center;
								font-weight:600;
								font-size:13px;
							}
							.sp {
								display:inline-block;
								padding:0;
								b {
									padding:0 10px 0 0;
								}
							}
							&.number {
								justify-content:flex-start !important;
								padding:10px 37px 10px 15px!important;
								border-bottom:#545252 solid 2px!important;
								&::before {
									padding:0 10px 0 0!important;
								}
							}
							&.move_in {
								border-bottom:#545252 solid 2px!important;
							}
						}
						.tax {
							font-size:12px;
							@media print, screen and (max-width: 1023px) {
								font-size:10px;
							}
						}
					}@for $i from 1 through 74 {
						&.delay-#{$i} {
							transition-delay:$i *0.2s;
						}
					}
				}
				.number {
					width:10%;
					border-left:#545252 solid 2px;
					pointer-events:none;
					@media print, screen and (max-width: 767px) {
						width:auto;
						border-left:none;
						pointer-events:all;
						&::before {
							position:relative!important;
							display:inline!important;
							width:auto!important;
							content:"部屋番号";
						}
						.icon {
							position:absolute;
							top:50%;
							right:20px;
							width:15px;
							height:15px;
							transform:translate(0, -50%);
							&::before {
								position:absolute;
								top:50%;
								right:0;
								width:15px;
								height:1px;
								background-color:#b3b3b3;
								content:"";
								transition:transform 0.7s cubic-bezier(0.26, 0.63, 0, 0.99) 0.2s;
								transform:rotate(0deg);
								transform-origin:center center;
							}
							&::after {
								position:absolute;
								top:50%;
								right:0;
								width:15px;
								height:1px;
								background-color:#b3b3b3;
								content:"";
								transition:transform 0.7s cubic-bezier(0.26, 0.63, 0, 0.99) 0.2s;
								transform:rotate(90deg);
								transform-origin:center center;
							}
						}
						&.open {
							.icon {
								&::before {
									transform:rotate(360deg);
								}
								&::after {
									transform:rotate(360deg);
								}
							}
						}
					}
				}
				.area {
					width:17%;
					@media print, screen and (max-width: 767px) {
						width:auto;
						&::before {
							content:"面積（㎡）/ 定員";
						}
					}
				}
				.rent {
					width:17%;
					@media print, screen and (max-width: 767px) {
						width:auto;
						&::before {
							content:"賃料";
						}
					}
				}
				.service_fee {
					width:17%;
					@media print, screen and (max-width: 767px) {
						width:auto;
						&::before {
							content:"共益費";
						}
					}
				}
				.monthly {
					width:17%;
					@media print, screen and (max-width: 767px) {
						width:auto;
						&::before {
							content:"月額合計";
						}
					}
				}
				.note {
					width:22%;
					@media print, screen and (max-width: 767px) {
						width:auto;
						&::before {
							content:"備考";
						}
					}
				}
				.move_in {
					width:10%;
					@media print, screen and (max-width: 767px) {
						width:auto;
						&::before {
							content:"入居日";
						}
					}
				}
			}
			&.js-active {
				.index_floorlist__wrap {
					.index_floorlist__header {
						opacity:1;
						transition:0.5s ease;
					}
					.index_floorlist__line {
						opacity:1;
						transition-timing-function:ease;
						transition-duration:0.5s;
					}
				}
			}
		}
	}
	.index_plan {
		margin:0;
		padding:80px 50px 130px;
		background-color:#f5f3f0;
		opacity:0;
		transform:translate(0, 40px);
		@media print, screen and (max-width: 767px) {
			padding:80px 30px 100px;
		}
		&.js-active {
			opacity:1;
			transition:1s ease;
			transform:translate(0, 0);
		}
		.title_h2 {
			margin:0 0 60px;
		}

		.index_plan__wrap {
			margin:0 auto;
			padding:0;
			max-width:694px;

			dl {
				display:flex;
				align-items:stretch;
				flex-wrap:wrap;
				justify-content:flex-start;
				margin:0;
				padding:0;
				text-align:left;
				letter-spacing:0.1em;
				font-weight:700;
				font-size:14px;
				line-height:1.8em;
				@media print, screen and (max-width: 767px) {
					display:block;
				}
				dt {
					margin:0;
					padding:10px 0;
					width:230px;
					border-bottom:#798160 solid 1px;
					color:#7a805f;
					@media print, screen and (max-width: 767px) {
						padding:20px 0 0;
						width:auto;
						border-bottom:none;
					}
				}
				dd {
					margin:0;
					padding:10px 0;
					width:calc(100% - 230px);
					border-bottom:#798160 solid 1px;

					@media print, screen and (max-width: 767px) {
						padding:0 0 10px;
						width:auto;
					}
				}
			}
		}
	}



	.index_photoSlide {
		position:relative;
		margin:0;
		padding:0;
		line-height:0;
		a {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			z-index:5;
			display:flex;
			align-items:center;
			justify-content:center;
			background-color:rgba(122,128,95,0.5);
			color:#ffffff;
			@media print, screen and (max-width: 767px) {
				padding:0 30px;
			}
			.fudomae {
				display:flex;
				align-items:center;
				justify-content:center;
				width:500px;
				height:50px;
				border:#ffffff solid 2px;
				line-height:0;
				@media print, screen and (max-width: 767px) {
					padding:0 20px;
					max-width:500px;
					img {
						width:100%;
					}
				}
			}
		}
		.swiper-container {
			overflow:hidden;
			height:0;
			opacity:0;
			&.swiper-initialized {
				height:auto;
				opacity:1;
			}
		}
		.swiper-wrapper {
			transition-timing-function:linear;
			.swiper-slide img {
				width:100%;
				height:auto;
			}
			.modalbtn {
				cursor:pointer;
			}
		}
		.modal {
			position:fixed;
			top:0;
			right:0;
			bottom:0;
			left:0;
			z-index:9999;
			display:flex;
			align-items:center;
			justify-content:center;
			padding:100px;
			background-color:rgba(18,18,18, 0.95);
			opacity:0;
			transition:0.5s ease 0.5s;
			pointer-events:none;
			@media print, screen and (max-width: 767px) {
				padding:60px 30px;
			}
			.modal_close {
				position:absolute;
				top:20px;
				right:20px;
				width:60px;
				height:60px;
				cursor:pointer;
				@media print, screen and (max-width: 767px) {
					width:40px;
					height:40px;
				}
				&::before {
					position:absolute;
					bottom:0;
					left:50%;
					width:1px;
					height:60px;
					background:#ffffff;
					content:"";
					transform:rotate(45deg);
					@media print, screen and (max-width: 767px) {
						height:40px;
					}
				}
				&::after {
					position:absolute;
					right:50%;
					bottom:0;
					width:1px;
					height:60px;
					background:#ffffff;
					content:"";
					transform:rotate(-45deg);
					@media print, screen and (max-width: 767px) {
						height:40px;
					}
				}
			}
			.photo {
				margin:0;
				padding:0;
				max-width:calc(100vw - 200px);
				max-height:calc(100vh - 200px);
				line-height:0;
				opacity:0;
				transition:0.5s ease;
				@media print, screen and (max-width: 767px) {
					max-width:calc(100vw - 60px);
					max-height:calc(100vh - 120px);
				}
				img {
					max-width:calc(100vw - 200px);
					max-height:calc(100vh - 200px);
					width:auto;
					height:auto;
					@media print, screen and (max-width: 767px) {
						max-width:calc(100vw - 60px);
						max-height:calc(100vh - 120px);
					}
				}
			}
			&.modal_open {
				opacity:1;
				transition:0.5s ease ;
				pointer-events:all;
				.photo {
					opacity:1;
					transition:0.5s ease 0.5s;
				}
			}
		}
	}

	.index_faq {
		margin:0;
		padding:80px 50px;
		@media print, screen and (max-width: 767px) {
			padding:80px 30px;
		}
		.index_faq__wrap {
			margin:0 auto;
			padding:0;
			max-width:750px;

			.index_faq_box {
				margin:0 0 20px;
				padding:0;
				border:#798160 solid 2px;
				opacity:0;
				transform:translate(0,30px);
				dt {
					position:relative;
					margin:0;
					padding:24px 80px 24px 73px;
					color:#7a805f;
					letter-spacing:0.1em;
					font-weight:700;
					font-size:16px;
					line-height:1.8em;
					cursor:pointer;
					@media print, screen and (max-width: 767px) {
						padding:14px 43px 14px 44px;
						text-align:left;
						letter-spacing:normal;
						font-size:14px;
					}
					&::before {
						position:absolute;
						top:24px;
						left:40px;
						padding:0 10px 0 0;
						content:"Q.";
						font-weight:500;
						font-size:20px;
						font-family:"Barlow", sans-serif;
						@media print, screen and (max-width: 767px) {
							top:14px;
							left:16px;
						}
					}
					&::after {
						position:absolute;
						top:50%;
						right:45px;
						display:block;
						margin:0;
						margin-top:-7px;
						padding:0;
						width:8px;
						height:8px;
						border-top:2px solid #798160;
						border-right:2px solid #798160;
						content:"";
						transition:transform 0.7s cubic-bezier(0.26, 0.63, 0, 0.99) 0.2s;
						transform:rotate(135deg);
						@media print, screen and (max-width: 767px) {
							right:19px;
						}
					}
					&.open {
						&::after {
							transform:rotate(315deg);
						}
					}
				}
				dd {
					display:none;
					margin:0;
					padding:0 80px 24px 73px;
					text-align:justify;
					letter-spacing:0.1em;
					font-weight:700;
					font-size:14px;
					line-height:1.8em;
					@media print, screen and (max-width: 767px) {
						padding:0 43px 14px 44px;
						font-size:13px;
					}
					a {
						color:#545252;
						text-decoration:underline;
					}
				}
			}
			.index_more {
				margin:40px 0 0 auto;
				@media print, screen and (max-width: 767px) {
					margin:40px auto 0 auto;
				}
			}
		}
		&.js-active {
			.index_faq__wrap {
				.index_faq_box {
					opacity:1;
					transition-timing-function:ease;
					transition-duration:0.5s;
					transform:translate(0,0);
				}
				@for $i from 1 through 4 {
					.delay-#{$i} {
						transition-delay:$i *0.2s;
					}
				}
			}
		}
	}
	.index_latest {
		margin:0;
		padding:80px 50px;
		background-color:#f5f3f0;
		opacity:0;
		transform:translate(0, 40px);
		&.js-active {
			opacity:1;
			transition:1s ease;
			transform:translate(0, 0);
		}
		@media print, screen and (max-width: 767px) {
			padding:80px 30px;
		}
		.index_latest__wrap {
			margin:0;
			padding:0;
			ul {
				display:flex;
				align-items:stretch;
				justify-content:flex-start;
				margin:0 0 0 -34px;
				padding:0;
				@media print, screen and (max-width: 959px) {
					margin:0 0 0 -15px;
				}
				@media print, screen and (max-width: 767px) {
					display:block;
					margin:0 ;
				}
				li {
					box-sizing:border-box;
					margin:0;
					padding:0 0 0 34px;
					width:25%;
					@media print, screen and (max-width: 959px) {
						padding:0 0 0 15px;
					}
					@media print, screen and (max-width: 767px) {
						margin:0 0 20px;
						padding:0 0 20px;
						width:auto;
						border-bottom:#7a8060 solid 1px;
						&:last-child {
							margin:0;
							padding:0;
							border-bottom:none;
						}
					}
					.index_latest__card {
						position:relative;
						margin:0;
						padding:0;
						@media print, screen and (max-width: 767px) {
							display:flex;
							align-items:flex-start;
							justify-content:flex-start;
						}
						.index_latest__link {
							position:absolute;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:2;
							display:block;
						}
						.index_latest__thumb {
							margin:0;
							padding:0;
							line-height:0;
							img {
								width:100%;
								height:auto;
							}
							@media print, screen and (max-width: 767px) {
								padding:0 20px 0 0;
								width:100px;
								height:auto;
							}
						}
						.index_latest__sp {
							@media print, screen and (max-width: 767px) {
								width:calc(100% - 120px);
							}
							.index_latest__caption {
								margin:0;
								padding:20px 0 0;
								letter-spacing:0.1em;
								line-height:1.8em;
								@media print, screen and (max-width: 767px) {
									padding:0;
								}
								p {
									margin:0;
									padding:0;


									&.index_latest__title {
										color:#7a805f;
										font-weight:700;
										font-size:16px;
										@media print, screen and (max-width: 1180px) {
											font-size:15px;
										}
										@media print, screen and (max-width: 767px) {
											font-size:14px;
										}
									}
									&.index_latest__date {
										letter-spacing:normal;
										font-weight:700;
										font-size:14px;
										@media print, screen and (max-width: 1180px) {
											font-size:13px;
										}
										@media print, screen and (max-width: 767px) {
											font-size:11px;
										}
									}
								}
							}
							.index_latest__tags {
								position:relative;
								z-index:5;
								display:flex;
								align-items:flex-start;
								flex-wrap:wrap;
								justify-content:flex-start;
								margin:0;
								padding:0;
								li {
									margin:10px 10px 0 0;
									padding:0;
									width:auto;
									line-height:normal;
									@media print, screen and (max-width: 767px) {
										margin:0 10px 0 0;
										border-bottom:none;
									}
									a {
										color:#7a805f;
										font-weight:700;
										font-size:14px;
										@media print, screen and (max-width: 1180px) {
											font-size:13px;
										}
										@media print, screen and (max-width: 767px) {
											font-size:12px;
										}
									}
								}
							}
						}
					}
				}
			}
			.index_more {
				margin:40px 0 0 auto;
				@media print, screen and (max-width: 767px) {
					margin:40px auto 0 auto;
				}
			}
		}
	}
}










@keyframes elasticus {
	0% {
		transform:scale(1, 0);
		transform-origin:0 0;
	}
	50% {
		transform:scale(1, 1);
		transform-origin:0 0;
	}
	50.1% {
		transform:scale(1, 1);
		transform-origin:0 100%;
	}
	100% {
		transform:scale(1, 0);
		transform-origin:0 100%;
	}
}
@keyframes elasticus-l {
	0% {
		transform:scale(0, 1);
		transform-origin:0 0;
	}
	50% {
		transform:scale(1, 1);
		transform-origin:0 0;
	}
	50.1% {
		transform:scale(1, 1);
		transform-origin:100% 0;
	}
	100% {
		transform:scale(0, 1);
		transform-origin:100% 0;
	}
}